<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset= "UTF-8">
    <meta name="viewport" content="widht=device-width, initial-scale=1.0"
    <title><h1>XXXTentacion Tribute</h1></title>

</head>

<body>
    <h2>All Albums of XXXTentacion</h2>
    <p><h3>17</h3> </p>
    <p>Released: August 25, 2017
Label: Bad Vibes Forever, Empire
Format: CD, LP, streaming audio, digital download</p>
    <p></p>
    <p><h3>?</h3></p>
    <p>Released: March 16, 2018
Label: Bad Vibes Forever, Empire, Caroline, Capitol
Format: CD, LP, streaming audio, digital download</p>
    <p></p>
    <p><h3>Skins</h3></p>
    <p>Released: December 7, 2018
Label: Bad Vibes Forever, Empire
Format: CD, LP, streaming audio, digital download</p>
    <p></p>
    <p><h3>Bad Vibes Forever</h3></p>
    <p>Released: December 6, 2019
Label: Bad Vibes Forever, Empire
Format: CD, LP, streaming audio, digital download</p>
    <p></p>

    <h3><a href="https://en.wikipedia.org/wiki/XXXTentacion_discography">Visit XXXTentacion discography wiki </a></h3>
</body>

</html>